:root {
  --blue: #4285f4;
  --red: #ea4335;
  --yellow: #fbbc05;
  --green: #34a853;
  --ligt-grey: #e9ebed;
  --dark-grey: #9aa0a6;
  --text: #70757a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: '%62.5';
  font-family: arial, sans-serif;
}

footer > div {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul li {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.8rem;
}

nav span {
  padding: 1rem;
}

.material-symbols-outlined {
  font-size: 1.5rem;
}

main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-text span {
  font-size: 5rem;
}

.blue-text {
  color: var(--blue);
}

.red-text {
  color: var(--red);
}

.yellow-text {
  color: var(--yellow);
}

.green-text {
  color: var(--green);
}

.search-wrapper {
  width: 70%;
  max-width: 40rem;
  border: 1px solid var(--ligt-grey);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 1rem 0;
}

input,
input:focus {
  border-width: 0;
  width: 100%;
  padding: 0 1rem;
  height: 2rem;
  outline: none;
  font-size: 1.5rem;
}

.mic {
  font-size: 2rem;
  color: var(--dark-grey);
  color: blue;
}

.search {
  color: var(--dark-grey);
}
.btnWrapper {
  margin-top: 1rem;
}

.btn {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  color: var(--text);
  font-size: 0.8rem;
}

.btn:hover {
  border: 1px solid var(--ligt-grey);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: var(--ligt-grey);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

footer span {
  padding: 0 0.7rem;
  text-transform: capitalize;
  color: var(--text);
}

@media screen and (max-width: 670px) {
  .google-text span {
    font-size: 2rem;
  }

  input {
    padding: 0 1rem;
    height: 0.6rem;
    font-size: 1rem;
  }

  main {
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .btn {
    font-size: 0.4rem;
    padding: 0.5rem;
  }
  .btnWrapper {
    margin-top: 0.5rem;
  }

  footer > div {
    font-size: 0.5rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ul li {
    font-size: 0.5rem;
  }

  input,
  input:focus {
    font-size: 0.7rem;
  }

  .search-wrapper {
    height: 2rem;
  }

  .material-symbols-outlined {
    font-size: 1rem;
  }
}
